
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 9%;
    --foreground: 0 0% 100%;

    --card: 210 29% 9%;
    --card-foreground: 0 0% 100%;

    --popover: 210 29% 9%;
    --popover-foreground: 0 0% 100%;

    --primary: 316 67% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 29% 15%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 29% 15%;
    --muted-foreground: 0 0% 80%;

    --accent: 316 67% 41%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 29% 15%;
    --input: 210 29% 15%;
    --ring: 316 67% 41%;

    --radius: 0.5rem;

    --sidebar-background: 210 29% 9%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 316 67% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 29% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 29% 15%;
    --sidebar-ring: 316 67% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-color: #0F1923;
    color: #FFFFFF;
  }
}
